@media only screen and (max-device-width: 450px) {
  button {
    height: 72px;
    font-size: 21px;
    padding-left: 12px;
    padding-right: 12px;
  }

  h2 {
    font-size: 68px;
    line-height: 64px;
  }

  h5 {
    font-size: 36px;
  }

  p.card-description {
    font-size: 27px;
  }

  a {
    font-size: 28px;
  }

  .content-container {
    width: 94vw;
    max-width: 94vw;
  }

  .section-hero {
    width: 100%;
    height: 100%;
    margin-bottom: 125px;
  }

  .barra-navegacao {
    width: 100%;
    margin-top: 24px;
  }

  .titulo-navegacao {
    font-size: 30px;
  }

  .links-navegacao {
    display: none;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .hero-info-title {
    font-size: 56px;
    margin-right: 0px;
  }

  .hero-info-description {
    font-size: 32px;
    line-height: 36px;
    max-width: 70%;
    margin-bottom: 30px;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 76px;
  }

  .hero-info-image {
    width: 98%;
    height: 80%;
    margin-top: 70px;
  }

  .hero-info-icons-container {
    margin-top: 38px;
    width: 60%;
  }

  .hero-info-icons-img {
    width: 46px;
    height: 46px;
  }

  .ability-cards-conteiner {
    width: 100%;
    grid-template-columns: auto auto;
    row-gap: 36px;
    column-gap: 36px;
    margin-top: 48px;
  }

  .ability-card {
    width: 44vw;
    height: 690px;
  }

  .ability-card-icon-conteiner {
    width: 90px;
    height: 90px;
    border-radius: 90px;
  }

  .ability-card-icon-img {
    width: 50px;
    height: 50px;
  }

  .ability-back-end-notice {
    height: 40%;
    font-size: 26px;
  }

  .section-portfolio-grid {
    grid-template-columns: auto;
    row-gap: 42px;
    margin-top: 48px;
  }

  .section-portfolio-grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: flex-start;
  }

  .section-portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: auto;
    padding: 20px 0px;
  }

  .portfolio-card-links {
    width: 40%;
  }

  .portfolio-card-icon-img {
    width: 34px;
    height: auto;
  }

  .section-experience {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .section-experience-card {
    margin-top: 40px;
  }

  .experience-card-notice {
    font-size: 24px;
  }

  .section-contact-description {
    font-size: 17px;
    max-width: 35%;
  }

  .section-contact-item-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .footer-content {
    width: 94vw;
  }
}
